@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --font: "Inter", sans-serif;
  --black1: rgb(0, 0, 0);
  --black2: rgb(48, 48, 48);
  --transparent-black: rgba(0, 0, 0, 0.4);
  --white: rgb(255, 255, 255);
}

.daytime {
  --bg-mobile: url("../assets/mobile/bg-image-daytime.jpg");
  --bg-tablet: url("../assets/tablet/bg-image-daytime.jpg");
  --bg-desktop: url("../assets/desktop/bg-image-daytime.jpg");
}

.nighttime {
  --bg-mobile: url("../assets/mobile/bg-image-nighttime.jpg");
  --bg-tablet: url("../assets/tablet/bg-image-nighttime.jpg");
  --bg-desktop: url("../assets/desktop/bg-image-nighttime.jpg");
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  color: var(--white);
  position: relative;
}

body::before {
  content: "";
  background-color: var(--transparent-black);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
}

/* Main */

.main {
  width: min(86.4%, 32.4rem);
  margin: 0 auto;
  padding-top: 3.167rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.quote-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.quote-content {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.quote-author {
  display: inline-block;
  font-weight: 700;
  margin-top: 0.8rem;
}

.refresh {
  width: min(100%, 1.667rem);
}

.time-icon {
  display: inline-block;
  margin-right: 1.6rem;
}

.greeting {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.extra-text {
  display: none;
}

.time {
  display: inline-block;
  font-weight: 700;
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: -2.5px;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.abbreviation {
  display: inline-block;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.location {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.expand-content {
  background-color: var(--white);
  margin-top: 4.8rem;
  margin-bottom: 4rem;
  width: 11.5rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.4rem 0.3rem 1.7rem;
  border-radius: 28px;
}

.expand-text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  color: var(--black1);
  opacity: 0.5;
}

.expand-icon-wrapper {
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--black2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  display: none;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  /* General Styles */
  body {
    background-image: var(--bg-tablet);
  }

  /* Main */

  .main {
    padding-top: 8rem;
    width: min(83.3333%, 64rem);
  }

  .quote-content {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .quote-wrapper {
    width: min(100%, 57.3rem);
    gap: 1.6rem;
  }

  .quote-author {
    margin-top: 1.3rem;
  }

  .refresh {
    margin-top: 0.9rem;
  }

  .greeting,
  .location {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 3.6px;
  }

  .extra-text {
    display: inline;
  }

  .time {
    font-size: 17.5rem;
    line-height: 17.5rem;
    letter-spacing: -4.375px;
    margin: 0;
  }

  .abbreviation {
    margin-left: 1.1rem;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .expand-content {
    margin-top: 8rem;
    margin-bottom: 6.4rem;
    width: 14.6rem;
    height: 5.6rem;
    padding: 0.8rem 0.9rem 0.8rem 2.1rem;
  }

  .expand-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 5px;
  }

  .expand-icon-wrapper {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  /* General Styles */
  body {
    background-image: var(--bg-desktop);
  }

  /* Main */

  .main {
    padding-top: 5.6rem;
    width: min(77.08333%, 111rem);
  }

  .refresh {
    margin-top: 1rem;
  }

  .time-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 9.8rem;
  }

  .greeting {
    font-size: 2rem;
    letter-spacing: 4px;
  }

  .time {
    font-size: 20rem;
    line-height: 20rem;
    letter-spacing: -5px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .abbreviation {
    font-size: 4rem;
    line-height: 4rem;
  }

  .location {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: 4.8px;
  }

  .expand-content {
    margin: 0;
  }
}
