@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --font: "Inter", sans-serif;
  --black1: rgb(0, 0, 0);
  --black2: rgb(48, 48, 48);
  --grey: rgb(153, 153, 153);
  --transparent-black1: rgba(0, 0, 0, 0.4);
  --transparent-black2: rgba(48, 48, 48, 0.25);
  --white: rgb(255, 255, 255);
}

.daytime {
  --bg-mobile: url("../assets/mobile/bg-image-daytime.jpg");
  --bg-tablet: url("../assets/tablet/bg-image-daytime.jpg");
  --bg-desktop: url("../assets/desktop/bg-image-daytime.jpg");
  --info-text: var(--black2);
  --info-bg: rgba(255, 255, 255, 0.75);
}

.nighttime {
  --bg-mobile: url("../assets/mobile/bg-image-nighttime.jpg");
  --bg-tablet: url("../assets/tablet/bg-image-nighttime.jpg");
  --bg-desktop: url("../assets/desktop/bg-image-nighttime.jpg");
  --info-text: var(--white);
  --info-bg: rgba(0, 0, 0, 0.75);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  color: var(--white);
  position: relative;
}

body::before {
  content: "";
  background-color: var(--transparent-black1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.container {
  width: min(86.4%, 32.4rem);
  margin: 0 auto;
}

.quote-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
  margin-top: 3.167rem;
}

.quote-content {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.quote-author {
  display: inline-block;
  font-weight: 700;
  margin-top: 0.8rem;
}

.refresh {
  width: min(100%, 1.667rem);
}

.refresh-icon {
  opacity: 0.5;
}

.time-wrapper,
.info-wrapper .container {
  margin: 0 auto;
}

.time-icon {
  display: inline-block;
  margin-right: 1.6rem;
}

.greeting {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.extra-text {
  display: none;
}

.time {
  display: inline-block;
  font-weight: 700;
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: -2.5px;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.abbreviation {
  display: inline-block;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.location {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.expand-content {
  background-color: var(--white);
  margin-top: 4.8rem;
  margin-bottom: 4rem;
  width: 11.5rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.4rem 0.3rem 1.7rem;
  border-radius: 28px;
}

.expand-text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  color: var(--black1);
  opacity: 0.5;
}

.expand-icon-wrapper {
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--black2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.less-info {
  justify-content: flex-start;
}

.less-time-info {
  margin-top: 9.9rem;
}

.info-wrapper {
  height: calc(100vh - 41.1rem);
  background-color: var(--info-bg);
  -webkit-backdrop-filter: blur(40.7742px);
  backdrop-filter: blur(40.7742px);
  padding-top: 4.8rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--info-text);
  margin-bottom: 1.6rem;
}

.info:last-of-type {
  margin-bottom: 0;
}

.info-results {
  text-transform: none;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: right;
}

/* Media Queries */
@media screen and (max-width: 270px) {
  /* Main */

  .time {
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: -2.5px;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-results {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  /* General Styles */
  body {
    background-image: var(--bg-tablet);
  }

  /* Main */
  .container {
    width: min(83.3333%, 64rem);
  }

  .quote-content {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .quote-wrapper {
    width: min(100%, 57.3rem);
    margin-top: 8rem;
  }

  .quote-author {
    margin-top: 1.3rem;
  }

  .refresh {
    margin-top: 0.9rem;
  }

  .greeting,
  .location {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 3.6px;
  }

  .extra-text {
    display: inline;
  }

  .time {
    font-size: 17.5rem;
    line-height: 17.5rem;
    letter-spacing: -4.375px;
    margin: 0;
  }

  .abbreviation {
    margin-left: 1.1rem;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .expand-content {
    margin-top: 8rem;
    margin-bottom: 6.4rem;
    width: 14.6rem;
    height: 5.6rem;
    padding: 0.8rem 0.9rem 0.8rem 2.1rem;
  }

  .expand-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 5px;
  }

  .expand-icon-wrapper {
    width: 4rem;
    height: 4rem;
  }

  .less-time-info {
    margin-top: 15.3rem;
  }

  .info-wrapper {
    height: calc(100vh - 58.4rem);
    padding-top: 11.9rem;
  }

  .info-wrapper .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 4.8rem;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.3rem;
    letter-spacing: 2.6px;
    margin-bottom: 0;
  }

  .info-results {
    font-size: 4rem;
    line-height: 4.8rem;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  /* General Styles */
  body {
    background-image: var(--bg-desktop);
  }

  /* Main */

  .quote-wrapper {
    margin-top: 5.6rem;
  }

  .container {
    width: min(77.08333%, 111rem);
  }

  .refresh {
    margin-top: 1rem;
  }

  .time-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 9.8rem;
  }

  .greeting {
    font-size: 2rem;
    letter-spacing: 4px;
  }

  .time {
    font-size: 20rem;
    line-height: 20rem;
    letter-spacing: -5px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .abbreviation {
    font-size: 4rem;
    line-height: 4rem;
  }

  .location {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: 4.8px;
  }

  .expand-content {
    margin: 0;
  }

  .expand-content:hover {
    cursor: pointer;
  }

  .expand-content:hover .expand-icon-wrapper {
    background-color: var(--grey);
    transition: 0.5s;
  }

  .expand-icon-wrapper {
    transition: 0.5s;
  }

  .refresh:hover {
    cursor: pointer;
  }

  .refresh:hover .refresh-icon {
    opacity: 1;
    transition: 0.5s;
  }

  .refresh-icon {
    transition: 0.5s;
  }

  .less-time-info {
    margin-top: 5.6rem;
    margin-bottom: 5.6rem;
  }

  .info-wrapper {
    height: calc(100vh - 40rem);
    padding-top: 7.4rem;
  }

  .info-wrapper .container {
    column-gap: 4.7rem;
    row-gap: 0;
  }

  .info {
    gap: 0.9rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  .info:nth-child(even) {
    padding-left: 9.4rem;
    border-left: 1px solid var(--transparent-black2);
  }

  .info:nth-child(1),
  .info:nth-child(2) {
    padding-bottom: 4.2rem;
  }

  .info-results {
    font-size: 5.6rem;

    line-height: 5.6rem;
  }
}
